*{
  margin:0;
  padding: 0;
  font-family: Oswald;
}
body {
  background-color: #f4D595;
}
nav {
  background-image: url(../img/BGPAn.png);
  background-size: contain;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #3C2713;
  padding-right: 3rem;
  align-items: center;
}
header {
  position:fixed;
  width: 100%;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.logo {
  height: 5.5rem;
}
.menu {
  display: flex;
  flex-direction: row;
  gap:1.9rem;
  align-items: center;
}

.menu a {
  color:#f4d595;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
}

.fa-cart-shopping {
  color:#f4d595;
}

.fa-user {
  color:#f4d595;
}

.cart {
  background-color: #AE6B31;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border: none;
  border-radius: 10rem;
  padding:.6rem;
  padding-top: .7rem;
  cursor:pointer;
  transition: all 0.2s ease;
}

.cart:hover {
  background-color: #a2652f;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.user {
  background-color: #AE6B31;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border: none;
  border-radius: 10rem;
  padding:.7rem;
  padding-left: .8rem;
  padding-right: .8rem;
  cursor:pointer;
  transition: all 0.2s ease;
}

.user:hover {
  background-color: #a2652f;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.header-text {
  display: inline-block;
  position: relative;
  text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.8);
}

.header-text:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: .1rem;
  bottom: 0;
  left: 0;
  background-color: #f4d595;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.header-text:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
main {
  padding-top: 5rem;
}
.actioncall {
  padding:1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../img/blurbread.png');
  background-position: 50% -5rem;
  background-size: 1600px 550px;
  background-repeat: no-repeat;
  height: 15rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.actioncall-box {
  color:#3C2713;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:1rem;
  justify-content:space-around;
  background-color: #f4D595;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.actioncall-box p {
  font-size: 1.5rem;
}
.pedido {
  cursor:pointer;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #3C2713;
  color: #f4D595;
  border:none;
  transition: 0.5s ease;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.pedido:hover {
  background-color:#5e3d1e;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.tips {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap:3rem;
}

.tips div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 2rem;
  gap:2rem;
  padding: 2rem;
  background-color: #3C2713;
  color: #f4d595;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.tips h2 {
  border-bottom: solid 2px #f4D595;
}

.tips i {
  border:none;
  border-radius: 20rem;
  padding: 3rem;
  color:#f4D595;
  background-color: #AE6B31;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.reviews-box h2 {
  color:#3C2713;
  padding-left: 3rem;
  margin-top: 2rem;
}

.reviews {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
  gap:1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 1rem;
}

.reviews div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 2rem;
  background-color: #d6853d;
  color: #3C2713;
  padding: 1rem;
  max-width: 20rem;
  min-width: 20rem;
  max-height: 5rem;
  min-height: 5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.number-box {
  background-image: url(../img/BGPAn.png);
  background-size: contain;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
  color:#f4D595;
  background-color: #3C2713;
  min-height: 10vh;
}

.number-box h1 {
  font-size: 3.5rem;
  text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.8);
}

.links {
  background-color: #d6853d;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.5rem;
}

.links a {
  color:#3C2713;
  text-decoration: none;
}

.links a:hover {
  color:#55381c;
}

.rss-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:.5rem;
  color:#3C2713;
}

.fa-brands {
  cursor:pointer;
}

.fa-brands:hover {
  color:#55381c;
}

.lista-compra {
  height: 100vh;
  width: 26vw;
  background-color: #f4D595;
  display: none;
  position: fixed;
  top:5.5rem;
  right: 0;
  box-shadow: 0 100vw 0 100vw rgba(0, 0, 0, 0.5);
}

.cart:focus + .lista-compra{
  display: flex;
  flex-direction: column;
}

.infoproducto-carro {
  padding:1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap:.4rem;
  align-items: left;
}

.producto-carro {
  display: flex;
  flex-direction: row;
  justify-content:left;
  align-items:center;
  min-width: 25rem;
  max-width: 25rem;
  max-height: 11rem;
  min-height: 11rem;
  background-color: #3C2713;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  color: #f4d595;
}

.producto-carro img {
  height: 11rem;
  width: 14rem;
}

.infoproducto-carro button {
  width: 9rem;
  border: none;
  background-color: #f4d595;
  color: #3C2713;
  font-weight: bold;
  cursor: pointer;
  border-radius: 20rem;
  padding: .2rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: all 0.2s ease;
}

.infoproducto-carro button:hover {
  background-color: #d7bc85;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.carro-vacio {
  height: 100%;
  display: flex;
  gap:2rem;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  color:#3C2713;
}

.carro-vacio i {
  border-radius: 20rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.menu-carro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15vh;
  margin-top:11rem;
  background-color: #3C2713;
}

.menu-carro button{
  border: none;
  background-color: #f4d595;
  color: #3C2713;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 20rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: all 0.2s ease;
}

.menu-carro button:hover{
  background-color: #d7bc85;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}