main {
  color:#3C2713;
  padding-top:6rem;;
}

main h1 {
  margin: 2rem;
  margin-left: 15vw;
}

main h2 {
  margin:2rem;
  margin-left: 15vw;
}

main p {
  margin-left: 16vw;
  margin-right: 15vw;
}